.git
.github
.idea
.vscode

.env
.env.*
!.env.example
!.env.vercel.example

Dockerfile
docker-compose*.yml

node_modules
vendor
npm-debug.log*
yarn-error.log*

storage/app/private
storage/app/public
storage/framework/cache
storage/framework/sessions
storage/framework/views
storage/logs
bootstrap/cache/*.php
public/storage

tests
docs
coverage
